.button {
  width: 157px;
  height: 57px;
  border-radius: 30px;
  background-color: #fff;
  text-align: center;
  color: #0f5a47;
  font-family: 'alegreya_sans_extraboldRg';
  font-size: 19px;
  padding: 20px 36px;

}