.header {
  padding-top: 23px;

}

.header__container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  }

  .header__phone {
    display: flex;
    align-items: center;
  }
  .header__phone--namber {
    color: #fff;
    font-size: 24px;
    font-family: 'alegreya_sansregular';
    display: flex;
    align-items: center;
  }

  .header__phone--namber:before {
    display: block;
    content: "";
    background: url('../../img/icons/phone.png') center center / cover no-repeat;
    width: 13px;
    height: 13px;
    margin-right: 6px;

  }
