.nav__list {
  display: flex;

}

.nav__item {
  margin-right: 30px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  color: #fff;
  font-size: 18px;
  font-family: 'alegreya_sansregular';
}