.title {
  font-family: 'alegreya_sansbold';
  font-size: 48px;
  text-transform: uppercase; 
  margin-bottom: 25px;
}

.we__title {
  display: flex;
  text-align: center;
  flex-direction: column;
   margin-bottom: 60px;
}
.title__subtitle {
  font-size: 18px;
  font-family: 'alegreya_sansregular';
 
}